p{color:red;}
span{font-size:50px;
	font-family:Arial, sans-serif;}
	

div{
	background-color: green;
	border: 5px solid yellow;
	border-radius: 6px;}
    
.miclase{color:red;}

.encabezado{color:red;
	background-color: yellow;}
.caja-canciones{width: 500px;height: 200px;border: 2px solid red;background-color: gray;}

.caja-azul{width: 80px;height: 30px;background-color: white;border-radius: 2px;border-top: 1px dashed black;}

.caja{border: 1px solid black;margin-top: 100px;margin-bottom: 100px;
margin-right: 150px;margin-left: 80px;background-color: lightblue;}
.caja2{border: 1px solid black;margin-top: 50px;margin-bottom: 50px;
	margin-right: 30px;margin-left: 80px;background-color: lightblue;}
.caja-c{border: 2px solid black;outline: #4CAF50 solid 10px;padding: 20px;}

.h1{text-decoration: overline;}
.h2{text-decoration: line-through;}
h3{text-decoration: underline;}
h4{text-decoration: underline overline;}
img{float: left;}

.a{text-align: center;}
.b{text-align: left;}
.c{text-align: right;}
.d{text-align: justify;}
