body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71)) ;
}


.box{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-48%);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 15px;
    width: 35%
}

fieldset {
    border: 3px solid dodgerblue;  
}
legend {
    border: 1px solid dodgerblue;  
    padding: 10px;  
    text-align: center;  
    background-color: dodgerblue;  
    border-radius: 8px;
}
.inputBox {
    position: relative;
}

.inputUser {
    background: none;  
    border: none;  border-bottom: 1px solid white;  
    outline: none;  
    color: white;  
    font-size: 15px;  
    width: 100%;  
    letter-spacing: 5px;  
}

#submit{
    background-image: linear-gradient(to right, rgb(0, 92, 197));
    width: 100%;
    border: 100%;
    padding: 15px;
    color: white;
    font-size:15px;
    cursor: pointer;
}



.tab{
    padding:4rem
}

.campo {
     margin-top: 20px;
     margin-bottom: 20px;
}

.main{
    margin: 40px;
}


