.bo .feed,.bo .dg{background-color:#e9ebee;}
.bo .feed{position:relative;z-index:0;}
.bo .dg:before{background-image:linear-gradient( rgba(176, 179, 188, .88), rgba(180, 183, 192, 0) );content:'';display:block;height:2px;left:0;position:absolute;right:0;top:0;}
.bo.b .feed{margin-top:0;padding-bottom:2px;padding-top:2px;}
.b .dk{padding-bottom:0;}
.di{padding:6px;}
.b .dj{padding:2px 4px;}
.b .ec{border:1px solid #8d949e;border-radius:72px;height:45px;padding:4px 20px 0 20px;resize:none;}
.ea{border-color:rgb(144, 148, 156);box-sizing:border-box;width:100%;}
.ea.eb{margin-top:6px;}
.b .ee{height:45px;margin:6px 0 0 5px;width:75px;}
.b .dx{border:1px solid #8d949e;height:43px;margin:6px 4px;width:43px;}
._2pi9{padding-left:12px;padding-right:12px;}
.da{padding-left:16px;padding-right:16px;}
.cv{padding-top:4px;}
.dw{padding-right:4px;}
.cw{padding-bottom:4px;}
.ed{padding-left:4px;}
.cy{margin-top:4px;}
.dh{background:#dddfe2;}
._55wo{background:#fff;}
form{margin:0;border:0;}
.b ._4g33{border:0;border-collapse:collapse;margin:0;padding:0;width:100%;}
.b ._4g33.ej{width:auto;}
.b ._4g33 tbody,.b .dv>tr>td,.b .dv>tbody>tr>td,.b ._4g33 td.dv{vertical-align:top;}
.b ._52we>tr>td,.b ._52we>tbody>tr>td,.b ._4g33 td._52we{vertical-align:middle;}
.b ._4g33 td{padding:0;}
.b ._4g33 td.bd{padding:2px;}
.b ._4g34{width:100%;}
.ch{background:#eceff5;}
.dy{-webkit-appearance:none;border:0;margin:0;padding:0;}
.bg{-webkit-appearance:none;background:none;display:inline-block;font-size:12px;height:28px;line-height:28px;margin:0;overflow:visible;padding:0 9px;text-align:center;vertical-align:top;white-space:nowrap;}
.b .bg{border-radius:2px;}
.ef,a.ef,.b a.ef,.b a.ef:visited{background-color:#f5f6f7;color:#4b4f56;}
.b a.ef:hover,.b .ef:hover{background-color:#ebedf0;color:#4b4f56;}
.b .ef{border:1px solid #bec3c9;}
.ef[disabled]{color:#bec3c9;}
.b .ef[disabled]:hover{background-color:#f5f6f7;color:#bec3c9;}
.bi,a.bi,html .b a.bi{color:#fff;}
.b .bi{background-color:#4267b2;border:1px solid #365899;}
.b a.bi:hover,.b .bi:hover{background-color:#465e91;}
.bi[disabled]{color:#899bc1;}
.b .bi[disabled]:hover{background-color:#4267b2;}
.bg .q{display:inline-block;}
.b .bg .q{display:inline-block;margin-top:0;vertical-align:middle;}
.b a.bg::after{content:"";display:inline-block;height:100%;vertical-align:middle;}
.bg .q{line-height:20px;margin-top:4px;}
.b .bg{padding:0 8px;}
.b a.bg{height:26px;line-height:26px;}
.q{pointer-events:none;}
._52ja{color:#4b4f56;}
.dc{font-size:14px;line-height:20px;}
._52jg{font-weight:normal;}
._52jh{font-weight:bold;}
.ds{text-align:left;}
.cx{text-align:center;}
.eg{display:inline-block;}
.eh{width:100%;}
.fcg{color:gray;}
.mfss{font-size:small;}
body,tr,input,textarea,.e{font-size:medium;}
.ei{display:inline-block;}
.ei .eo{display:block;font-size:small;white-space:normal;}
.el,.em.img{cursor:pointer;display:block;}
.b .ei a.eo,.ei .eo{color:#4b4f56;font-weight:bold;text-align:left;}
.b .ei a.eo:hover,.b .ei a.eo:focus,.ei .eo:hover,.ei .eo:focus{background:#4b4f56;color:#fff;}
.b .ei a.el:hover,.b .ei a.el:focus,.ei .el:hover,.ei .el:focus{background:inherit;}
.b .fi{padding:0;}
.b .bd{padding:2px;}
.img{border:0;display:inline-block;vertical-align:top;}
i.img u{position:absolute;width:0;height:0;overflow:hidden;}
.en{-webkit-appearance:none;background-color:transparent;border:0;display:inline;font-size:inherit;margin:0;padding:0;}
.en:hover{background-color:#3b5998;color:#fff;white-space:normal;}
.ep{color:#3b5998;}
.dm{display:block;display:flex;max-width:100%;overflow:hidden;white-space:nowrap;}
.dn{color:#4b4f56;font-size:12px;line-height:20px;white-space:nowrap;}
.do{background-color:#fff;border:0;display:inline-block;height:26px;line-height:26px;margin:0;padding-right:16px;position:relative;vertical-align:top;white-space:nowrap;}
.do input,.do button,.do .q{color:#3b5998;}
.do a:hover,.do a:hover .q{color:#fff;}
.do.dp,.dt.dp{height:20px;line-height:20px;}
.dt{-webkit-appearance:none;background-color:#fff;border:none;color:#4b4f56;display:inline-block;font-size:12px;height:26px;min-width:100%;padding:0;vertical-align:top;}
.do a.dt{color:#4b4f56;}
a.dt .q,a.dt .q::before{display:inline-block;height:100%;margin-top:0;vertical-align:middle;}
a.dt .q::before{content:"";}
.dr{background-color:#dadde1;}.dr .dt{background-color:#dadde1;}
.du{background-image:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yY/r/DEWLwbJ5Q9y.png);background-position:right center;background-repeat:no-repeat;bottom:0;display:block;pointer-events:none;position:absolute;right:0;top:0;width:16px;}
.dr .du{background-image:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yU/r/juEKbziydZc.png);}
.bo .bp .cj{color:#42464d;font-size:19px;font-weight:bold;}
.bo.b .bp .cj{margin-left:0;position:static;}
.bo.b .bp .co{margin-left:5px;vertical-align:baseline;}
.bo .bp .dd{padding-left:4px;}
.b .bu{height:100%;overflow:hidden;position:absolute;}
.b .bq{background-color:#1c1e21;height:100px;position:relative;}
.b .by{height:auto;}
.b .bz{width:inherit;}
.b .bt{width:100%;}
.b .cc{margin-top:-45px;}
.b a,.b a:visited{color:#3b5998;text-decoration:none;}
.b .de,.b .de:visited{color:#6d84b4;}
.b .bl,.b .bl:visited{color:#fff;}
.b a:focus,.b a:hover,.b .de:focus,.b .de:hover{background-color:#3b5998;color:#fff;}
.b .bl:focus,.b .bl:hover{background-color:#fff;color:#3b5998;}
.cf{position:relative;}
.cg{border:2px solid #fff;box-shadow:0 1px 2px rgba(0, 0, 0, .1);display:inline-block;}
.b .ci{padding:5px 0 5px 0;text-align:center;}
.b .ce{text-align:center;}
.acw{background-color:#fff;}
.t{background-color:#3b5998;}
.u{padding:2px 3px;}
.apm{padding:4px 3px;}
.cd{padding:6px 3px;}
.cl{margin:5px;}
.ca{background:#f2f2f2;}
.bw:hover .ca{background:none;}
.bv{height:100%;}
html .b .db{color:#3578e5;}
html .b .db:hover{color:#fff;}
.cz{word-wrap:break-word;}
._3ev_,._3ev_:hover{background-color:#fafafa;border:1px solid #c4d2e7;box-sizing:border-box;display:flex;flex-direction:column;height:100%;justify-content:center;min-height:72px;min-width:72px;text-align:center;}
._3ew2{display:inline-block;padding:24px 10px;position:relative;vertical-align:middle;}
._3ew3{margin-bottom:4px;}
._3ew6{color:#444950;font-family:'Roboto-Regular';font-size:12px;line-height:14px;margin-bottom:4px;padding:4px;}
._3ey1{border:1px solid #7537b3;border-radius:2px;color:#7537b3;display:inline-block;font-size:11px;font-weight:bold;line-height:14px;padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:6px;}
.cb{display:none;}
.cn{margin:2px 0 0 5px;}
.cp .cr{display:inline-block;margin-right:4px;}
.b .cp .cr{float:left;}
.b .cp .cs{display:table-cell;}
.cu{clear:both;}
._5rgl{margin:0 6px 6px;padding:6px;}
.b ._5rgl ._5rgl{border-color:#e9ebee;margin:6px 0 0;}
._5rgm{color:gray;margin-bottom:5px;}
._26zb{display:inline-block;}
._5sq4{margin-top:5px;}
._5rgn,._5rgo{margin:5px 0;}
._5rgl a,._5rgl a:visited{color:#2b55ad;}
._5rgl a:hover,._5rgl a:focus{background:#2b55ad;color:#fff;}
._5nxi{font-size:small;}
._7k7{list-style:none;margin:0;padding:0;}
._56bf{border-color:#ccced3 #c4c6ca #b4b6ba;border-style:solid;border-width:1px;}
._u1r ._27x0{margin-bottom:-10px;}
._581t tr{font-size:inherit;}
._lqt{font-size:small;}
._67lm{position:relative;}
._7jwh{margin-left:-7px;}
._7jwi{display:inline-block;}
._5mfr{margin:0 1px;}
._6qdm{background-repeat:no-repeat;background-size:contain;color:transparent;display:inline-block;text-decoration:none;text-shadow:none;vertical-align:text-bottom;}
._6qdm::selection{background-color:highlight;color:transparent;}
.b ._8qok{white-space:pre;}
.nowrap{white-space:nowrap;}
._41nk{display:inline-block;margin-right:3px;vertical-align:middle;}
body{text-align:left;direction:ltr;}
body,tr,input,textarea,button{font-family:sans-serif;}
body,p,figure,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:bold;}

ul,ol{list-style:none;}
article,aside,figcaption,figure,footer,header,nav,section{display:block;}
.d #viewport{margin:0 auto;max-width:600px;}#page{position:relative;}
.ba,.ba.img{display:block;}
.x{display:block;}
.y{height:20px;width:20px;}
.v{background:#3b5998;padding:0 4px 4px;height:22px;}
.v.v .be{background:#fff;border:1px solid #243872;box-sizing:border-box;font-size:small;height:22px;margin:0;width:100%;}
.w.v{padding:1px 1px 3px;}
.v .z{padding:1px 3px 0 0;}.v.v.v .bh{background:#627aba;border:1px solid #2e417e;color:#fff;font-size:x-small;font-weight:normal;height:22px;line-height:20px;margin-left:3px;}
.bc{border:0;display:block;margin:0;padding:0;}
.ez{font-size:small;padding:7px 8px 8px;}
.fn{border:1px solid;border-color:#8d949e;border-radius:4px;display:block;margin-top:8px;padding:4px;text-align:center;}
.ex{display:block;font-size:x-small;margin:-3px -3px 1px -3px;padding:3px;}
.eu{display:block;margin:-3px -3px 1px -3px;}
.eu .ev{font-size:x-small;padding:3px;text-align:left;width:100%;}
.ey{border:1px solid #90949c;display:block;font-size:x-large;height:20px;line-height:18px;text-align:center;;width:20px;}
.b .ez td.es{padding-right:4px;}
.b .ez td.ew{padding-left:4px;}
.ez.fa{background-color:#444950;}
.fa{border-top:1px solid #444950;color:#bec3c9;}
.b .fa a,.b .fa a:visited,.b .er input,.b .er input:visited,.b .er a,.b .er a:visited{color:#bec3c9;}
.b .fa a:focus,.b .fa a:hover,.b .er input:focus,.b .er input:hover,.b .er a:focus,.b .er a:hover{background:#dadde1;color:#1d2129;}
.fc{margin-bottom:8px;}
.ez.fa .fc>table{background:#d3d7dc;border:1px solid #444950;}
.fj{background:#d3d7dc;}
.eq{background-color:#444950;font-size:x-small;padding:7px 8px 8px;}
.et{color:#bec3c9;display:block;font-size:x-small;margin:-3px -3px 1px -3px;padding:3px;}
.fb .fm{height:24px;line-height:24px;margin-left:2px;}
.fe{background:#fff;}
.fb .fk{background-color:transparent;color:#4b4f56;display:block;padding:0;width:100%;}
.ff .img{display:block;}
.fb .fd .fl{padding:2px;}
.fb .fd .ff{padding:4px;}
.b .fb .fd{border:1px solid #8d949e;}
.j img{padding-left:5px;padding-top:4px;vertical-align:baseline;}
.j{display:inline-block;padding:3px 0 0 5px;vertical-align:middle;}
.b a.l,.b a.l:focus,.b a.l:hover,.b a.l:visited,a.l,a.l:focus,a.l:hover,a.l:visited{background:none;color:#fff;cursor:pointer;padding:0;text-decoration:none;}
.m{display:table-cell;padding:5px 8px;text-align:right;vertical-align:middle;}
.g{display:table;width:100%;}
.k{padding:0 0 0 0;}
.h{background-color:#7537b3;color:#fff;padding-bottom:2px;padding-top:2px;width:100%;}
.i{display:table-cell;padding-bottom:2px;padding-left:8px;padding-top:1px;padding-top:2px;position:relative;vertical-align:middle;width:100%;}
.p,.b .p{border-radius:2px;display:inline-block;height:24px;line-height:26px;overflow:visible;padding:0 8px;text-align:center;vertical-align:middle;white-space:nowrap;}
.o,.b a.o,.b a.o:hover,.b .o,.b .o:hover{background:#7537b3;border:1px solid #fff;color:#fff;font-size:12px;}@media only screen and (max-width: 300px){}@media only screen and (max-width: 300px){}@media only screen and (max-width: 300px){}
.bj{padding-bottom:1px;}
.bk{display:inline-block;font-size:small;padding:2px 4px 2px;}
.bn{color:#fff496;}
.b a:hover .bn,.b a:focus .bn,.bk:hover .bn,.bk:focus .bn{color:#365899;}
.bk.bm{background-color:#6d84b4;}